# Harvested + merged from the per-operation OpenAPI 3.1.0 definitions embedded in
# each Jane Developer Platform ReadMe reference page (developers.jane.app/reference/*.md).
# generated: '2026-07-24'  method: searched
# source: https://developers.jane.app/reference (per-endpoint embedded OpenAPI blocks)
openapi: 3.1.0
info:
  title: JDP API
  description: 'Open API specification for the JDP API


    ## Rate Limits


    All JDP API endpoints have a rate limit of **100 requests per minute** per endpoint per clinic.


    Rate limit information is returned in response headers:

    - `X-Throttle-Match`: Rate limit identifier

    - `Retry-After`: Number of seconds to wait before retrying (when rate limited)


    When rate limits are exceeded, the API returns a 429 status code with a `Retry-After` header.


    ### Affected Endpoints:

    - `/api/2026-01-01/treatments`

    - `/api/2026-01-01/appointments`

    - `/api/2026-01-01/locations`

    - `/api/2026-01-01/disciplines`

    - `/api/2026-01-01/patients`

    - `/api/2026-01-01/staff_members`

    - `/api/2026-01-01/company`

    - `/api/2026-01-01/medical-record/medications`'
  version: '2026-01-01'
servers:
- url: https://jdpdocsdemo.jane.qa
  description: Partner playground clinic
security:
- OAuth2: []
tags:
- name: Appointments
- name: CarePlans
- name: Catalog
- name: Company
- name: Disciplines
- name: DocumentUploads
- name: Extensions
- name: Locations
- name: Medications
- name: Observations
- name: Patients
- name: StaffMembers
- name: Treatments
- name: Webhooks
paths:
  /api/2026-01-01/medical-record/care-plans:
    post:
      operationId: createCarePlan
      summary: Create a care plan
      description: Create a care plan
      security:
      - OAuth2:
        - care_plans:create
      tags:
      - CarePlans
      requestBody:
        description: The care plan to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_care_plan_request'
      responses:
        '201':
          description: The care plan was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/care_plan'
        '400':
          description: The care plan was not created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
    get:
      operationId: listCarePlans
      summary: List care plans
      description: List medical record care plans for the current user's accessible patients.
      security:
      - OAuth2:
        - care_plans:read
      tags:
      - CarePlans
      parameters:
      - $ref: '#/components/parameters/page_limit'
      - $ref: '#/components/parameters/page_cursor'
      - name: sort
        in: query
        required: false
        description: 'Comma-separated sort fields. Prefix with `-` for descending order (e.g. `-created_at`).
          Allowed: created_at, updated_at'
        schema:
          type: string
          example: -created_at
      - name: patient_id[eq]
        in: query
        required: false
        description: Filter by patient public ID
        schema:
          type: string
          format: uuid
      - name: category[eq]
        in: query
        required: false
        description: 'Filter by category. Allowed values: treatment_plan'
        schema:
          type: string
          enum:
          - treatment_plan
      - name: encounter_id[eq]
        in: query
        required: false
        description: Filter by encounter public ID
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: List of care plans
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/care_plans_response'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
  /api/2026-01-01/medical-record/care-plans/{care_plan_id}/activities:
    post:
      operationId: createCarePlanActivity
      summary: Create a care plan activity
      description: Create a care plan activity
      security:
      - OAuth2:
        - care_plans:create
      parameters:
      - name: care_plan_id
        in: path
        required: true
        description: The ID of the care plan
        schema:
          type: string
      tags:
      - CarePlans
      requestBody:
        description: The care plan activity to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_care_plan_activity_request'
      responses:
        '201':
          description: The care plan activity was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/care_plan_activity'
        '400':
          description: The care plan activity was not created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
  /api/2025-02-28-beta/extensions:
    post:
      operationId: createExtension
      summary: Create Extension
      description: Creates a new extension
      tags:
      - Extensions
      security:
      - BearerAuth: []
      requestBody:
        description: Extension data to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/extension_request'
      responses:
        '201':
          description: Extension created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/extension'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_error'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity_error'
    get:
      operationId: getExtensions
      summary: List Extensions
      description: Retrieves a list of extensions
      tags:
      - Extensions
      security:
      - BearerAuth: []
      responses:
        '200':
          description: List of extensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/extensions_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_error'
  /api/2026-01-01/medical-record/medications:
    post:
      operationId: createMedication
      summary: Create a medication
      description: Create a new medication record for a patient
      security:
      - OAuth2:
        - medications:create
      tags:
      - Medications
      requestBody:
        description: The medication to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_medication_request'
      responses:
        '201':
          description: The medication was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/medication'
        '400':
          description: The medication was not created - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: Patient not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
    get:
      operationId: listMedications
      summary: List medications
      description: List medications for the current user's accessible patients
      security:
      - OAuth2:
        - medications:read
      tags:
      - Medications
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: Maximum number of items to return (default 50)
        schema:
          type: integer
          default: 50
      - name: page[cursor]
        in: query
        required: false
        description: Cursor for pagination
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort field (default created_at)
        schema:
          type: string
          default: created_at
      responses:
        '200':
          description: List of medications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/medications_response'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
  /api/2026-01-01/medical-record/observations:
    post:
      operationId: createObservation
      summary: Create an observation
      description: Create an observation
      security:
      - OAuth2:
        - observations:create
      tags:
      - Observations
      requestBody:
        description: The observation to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_observation_request'
      responses:
        '201':
          description: The observation was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/observation'
        '400':
          description: The observation was not created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
    get:
      operationId: listObservations
      summary: List observations
      description: List medical record observations for the current user's accessible patients.
      security:
      - OAuth2:
        - observations:read
      tags:
      - Observations
      parameters:
      - $ref: '#/components/parameters/page_limit'
      - $ref: '#/components/parameters/page_cursor'
      - name: sort
        in: query
        required: false
        description: 'Comma-separated sort fields. Prefix with `-` for descending order (e.g. `-created_at`).
          Allowed: created_at, updated_at, issued_at'
        schema:
          type: string
          example: -created_at
      - name: patient_id[eq]
        in: query
        required: false
        description: Filter by patient public ID
        schema:
          type: string
          format: uuid
      - name: category[eq]
        in: query
        required: false
        description: 'Filter by category. Allowed values: vital_signs, laboratory, exam'
        schema:
          type: string
          enum:
          - vital_signs
          - laboratory
          - exam
      - name: encounter_id[eq]
        in: query
        required: false
        description: Filter by encounter public ID
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: List of observations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/observations_response'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
  /api/2025-02-28-beta/extensions/{extension_id}:
    delete:
      operationId: deleteExtension
      summary: Delete Extension
      description: Deletes an extension
      tags:
      - Extensions
      security:
      - BearerAuth: []
      parameters:
      - name: extension_id
        in: path
        required: true
        description: The ID of the extension
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Extension deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/extension_delete_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_error'
        '404':
          description: Extension not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error'
    get:
      operationId: getExtension
      summary: Get Extension
      description: Retrieves a specific extension by ID
      tags:
      - Extensions
      security:
      - BearerAuth: []
      parameters:
      - name: extension_id
        in: path
        required: true
        description: The ID of the extension
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Extension details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/extension'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_error'
        '404':
          description: Extension not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error'
    put:
      operationId: updateExtension
      summary: Update Extension
      description: Updates an existing extension
      tags:
      - Extensions
      security:
      - BearerAuth: []
      parameters:
      - name: extension_id
        in: path
        required: true
        description: The ID of the extension
        schema:
          type: string
          format: uuid
      requestBody:
        description: Extension data to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/extension_request'
      responses:
        '200':
          description: Extension updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/extension'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_error'
        '404':
          description: Extension not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity_error'
  /api/2026-01-01/webhooks/{webhook_id}:
    delete:
      operationId: deleteWebhook
      summary: Deregister a webhook subscription
      description: Permanently removes a webhook subscription. The partner will no longer receive events
        for this subscription.
      security:
      - OAuth2:
        - webhooks:delete
      tags:
      - Webhooks
      parameters:
      - name: webhook_id
        in: path
        required: true
        description: The ID of the webhook subscription
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: The webhook subscription was deregistered
        '401':
          description: The request is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '403':
          description: The authenticated partner does not have permission to deregister this webhook subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '404':
          description: The webhook subscription was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '422':
          description: The webhook subscription could not be deregistered due to validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '503':
          description: The service is temporarily unavailable
    get:
      operationId: getWebhook
      summary: Retrieve a webhook subscription
      description: Returns the details of a single webhook subscription by ID.
      security:
      - OAuth2:
        - webhooks:read
      tags:
      - Webhooks
      parameters:
      - name: webhook_id
        in: path
        required: true
        description: The ID of the webhook subscription
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The webhook subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook-subscription-response'
        '401':
          description: The request is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '403':
          description: The authenticated partner does not have permission to view this webhook subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '404':
          description: The webhook subscription was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '503':
          description: The service is temporarily unavailable
  /api/2026-01-01/appointments/{appointment_id}:
    get:
      operationId: getAnAppointment
      summary: Get an Appointment
      description: Retrieve detailed appointment information using its unique identifier
      tags:
      - Appointments
      security:
      - OAuth2:
        - appointments:read
      parameters:
      - name: appointment_id
        in: path
        required: true
        description: The ID of the appointment
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The appointment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appointment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '404':
          description: The appointment was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '429':
          description: Rate limit exceeded - 100 requests per minute per endpoint per clinic
          headers:
            X-Throttle-Match:
              description: Rate limit identifier
              schema:
                type: string
              example: marketing_api/ip/clinic
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /api/2026-01-01/staff_members/{staff_member_id}:
    get:
      operationId: getAStaffMember
      summary: Get a Staff Member
      description: Retrieve detailed staff member using their unique identifier
      tags:
      - StaffMembers
      security:
      - OAuth2:
        - staff_members:read
      parameters:
      - name: staff_member_id
        in: path
        required: true
        description: The ID of the staff member
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The staff member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/staff_member-2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '404':
          description: The staff member was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '429':
          description: Rate limit exceeded - 100 requests per minute per endpoint per clinic
          headers:
            X-Throttle-Match:
              description: Rate limit identifier
              schema:
                type: string
              example: marketing_api/ip/clinic
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /api/2026-01-01/medical-record/care-plans/{care_plan_id}:
    get:
      operationId: getCarePlan
      summary: Get a care plan
      description: Get a care plan by its ID
      security:
      - OAuth2:
        - care_plans:read
      tags:
      - CarePlans
      parameters:
      - name: care_plan_id
        in: path
        required: true
        description: The ID of the care plan
        schema:
          type: string
      responses:
        '200':
          description: The care plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/care_plan'
        '404':
          description: The care plan was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
    patch:
      operationId: updateCarePlan
      summary: Update a care plan
      description: Update a care plan by its ID
      security:
      - OAuth2:
        - care_plans:update
      tags:
      - CarePlans
      parameters:
      - name: care_plan_id
        in: path
        required: true
        description: The ID of the care plan
        schema:
          type: string
      requestBody:
        description: The care plan to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_care_plan_request'
      responses:
        '200':
          description: The care plan was updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/care_plan'
        '400':
          description: The care plan was not updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
        '404':
          description: The care plan was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
        '422':
          description: The care plan validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
  /api/2026-01-01/medical-record/care-plans/{care_plan_id}/activities/{care_plan_activity_id}:
    get:
      operationId: getCarePlanActivity
      summary: Get a care plan activity
      description: Get a care plan activity by its ID
      security:
      - OAuth2:
        - care_plans:read
      tags:
      - CarePlans
      parameters:
      - name: care_plan_id
        in: path
        required: true
        description: The ID of the care plan
        schema:
          type: string
      - name: care_plan_activity_id
        in: path
        required: true
        description: The ID of the care plan activity
        schema:
          type: string
      responses:
        '200':
          description: The care plan activity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/care_plan_activity'
        '404':
          description: The care plan activity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
    patch:
      operationId: updateCarePlanActivity
      summary: Update a care plan activity
      description: Update a care plan activity by its ID
      security:
      - OAuth2:
        - care_plans:update
      tags:
      - CarePlans
      parameters:
      - name: care_plan_id
        in: path
        required: true
        description: The ID of the care plan
        schema:
          type: string
      - name: care_plan_activity_id
        in: path
        required: true
        description: The ID of the care plan activity
        schema:
          type: string
      requestBody:
        description: The care plan activity to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_care_plan_activity_request'
      responses:
        '200':
          description: The care plan activity was updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/care_plan_activity'
        '400':
          description: The care plan activity was not updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
        '404':
          description: The care plan activity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
        '422':
          description: The care plan activity validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
  /api/2025-02-28-beta/catalog/extensions/{id}:
    get:
      operationId: getCatalogExtension
      summary: Get Catalog Extension
      description: Retrieves a specific extension from the catalog
      tags:
      - Catalog
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Extension ID
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Catalog extension details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/catalog_extension'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error'
  /api/2025-02-28-beta/catalog/extensions:
    get:
      operationId: getCatalogExtensions
      summary: Get Catalog Extensions
      description: Retrieves the catalog with all available approved extensions
      tags:
      - Catalog
      responses:
        '200':
          description: List of catalog extensions with pagination metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/catalog_extensions_response'
  /api/2026-01-01/company:
    get:
      operationId: getCompany
      summary: Get details about the company
      description: Retrieve details about the company
      tags:
      - Company
      security:
      - OAuth2:
        - companies:read
      responses:
        '200':
          description: The company details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
        '400':
          description: The request is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalid_request_error'
        '401':
          description: The request is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_error'
        '404':
          description: The company was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error'
        '429':
          description: Rate limit exceeded - 100 requests per minute per endpoint per clinic
          headers:
            X-Throttle-Match:
              description: Rate limit identifier
              schema:
                type: string
              example: marketing_api/ip/clinic
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /api/2026-01-01/disciplines/{discipline_id}:
    get:
      operationId: getDiscipline
      summary: Get a Discipline
      description: Get a Discipline by its ID
      tags:
      - Disciplines
      security:
      - OAuth2:
        - disciplines:read
      parameters:
      - name: discipline_id
        in: path
        required: true
        description: The Id of the discipline
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The discipline
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/discipline'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
        '404':
          description: The discipline was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
        '429':
          description: Rate limit exceeded - 100 requests per minute per endpoint per clinic
          headers:
            X-Throttle-Match:
              description: Rate limit identifier
              schema:
                type: string
              example: marketing_api/ip/clinic
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /api/2026-01-01/document-uploads/{document_id}:
    get:
      operationId: getDocumentUploads
      summary: Get an uploaded document
      description: Retrieve a document previously uploaded by the authenticated user. Only the user who
        originally uploaded the document can access it.
      security:
      - OAuth2:
        - document_uploads:read
      tags:
      - DocumentUploads
      parameters:
      - name: document_id
        in: path
        required: true
        description: The ID of the document
        schema:
          type: string
      responses:
        '200':
          description: The document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document_uploads_response'
        '404':
          description: The document was not found or does not belong to the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  /api/2026-01-01/locations/{location_id}:
    get:
      operationId: getLocation
      summary: Get a Location
      description: Retrieve detailed location information using the unique identifier
      tags:
      - Locations
      security:
      - OAuth2:
        - locations:read
      parameters:
      - name: location_id
        in: path
        required: true
        description: The ID of the location
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/location'
        '400':
          description: Bad Request - Invalid ID Format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: The location was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '429':
          description: Rate limit exceeded - 100 requests per minute per endpoint per clinic
          headers:
            X-Throttle-Match:
              description: Rate limit identifier
              schema:
                type: string
              example: marketing_api/ip/clinic
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /api/2026-01-01/locations:
    get:
      operationId: getLocations
      summary: Get a list of locations
      description: 'Retrieve a paginated list of locations.


        Filtering:

        Filter records by field values using the format: field[operator]=value


        Available fields:

        - `public_id`: string

        - `created_at`: ISO 8601 datetime (e.g. 2025-01-01T12:00:00Z)

        - `updated_at`: ISO 8601 datetime


        Available operators:

        - `eq`: Equals

        - `gt`: Greater than

        - `gte`: Greater than or equal

        - `lt`: Less than

        - `lte`: Less than or equal


        Date-time filters (ex. `created_at`, `updated_at`) must:

        - Use [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time format

        - Be **precise to the second** (e.g. `2025-01-01T12:00:00Z`)


        Examples:

        ```

        /locations?public_id[eq]=abc123

        /locations?created_at[gte]=2025-01-01T00:00:00Z&created_at[lt]=2025-01-02T00:00:00Z

        ```

        '
      tags:
      - Locations
      security:
      - OAuth2:
        - locations:read
      parameters:
      - $ref: '#/components/parameters/page_cursor'
      - $ref: '#/components/parameters/page_limit'
      - name: sort
        in: query
        required: false
        description: 'Comma-separated list of fields to sort by. Prefix a field with ''-'' for descending
          order.


          Examples:

          - `sort=name,-created_at` sorts by `name` ascending, then `created_at` descending.

          - `sort=-updated_at` sorts by `updated_at` descending.


          Available fields:

          - `name`

          - `created_at`

          - `updated_at`

          '
        schema:
          type: string
      - name: public_id
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `public_id`. Example: `public_id[eq]=123`'
        schema:
          $ref: '#/components/schemas/StringFilterSchema'
      - name: created_at
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `created_at` timestamp (ISO 8601). Example: `created_at[gte]=2025-01-01T00:00:00Z`'
        schema:
          $ref: '#/components/schemas/DateTimeFilterSchema'
      - name: updated_at
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `updated_at` timestamp (ISO 8601). Example: `updated_at[lt]=2025-01-02T00:00:00Z`'
        schema:
          $ref: '#/components/schemas/DateTimeFilterSchema'
      responses:
        '200':
          description: A list of locations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message explaining the issue
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '429':
          description: Rate limit exceeded - 100 requests per minute per endpoint per clinic
          headers:
            X-Throttle-Match:
              description: Rate limit identifier
              schema:
                type: string
              example: marketing_api/ip/clinic
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /api/2026-01-01/medical-record/medications/{medication_id}:
    get:
      operationId: getMedication
      summary: Get a medication
      description: Get a medication by its ID
      security:
      - OAuth2:
        - medications:read
      tags:
      - Medications
      parameters:
      - name: medication_id
        in: path
        required: true
        description: The ID of the medication
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The medication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/medication'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: The medication was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
    patch:
      operationId: updateMedication
      summary: Update a medication
      description: Update a medication by its ID
      security:
      - OAuth2:
        - medications:update
      tags:
      - Medications
      parameters:
      - name: medication_id
        in: path
        required: true
        description: The ID of the medication
        schema:
          type: string
          format: uuid
      requestBody:
        description: The medication fields to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_medication_request'
      responses:
        '200':
          description: The medication was updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/medication'
        '400':
          description: The medication was not updated - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: The medication was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
        '422':
          description: The medication validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
  /api/2026-01-01/medical-record/medications/{medication_id}/history:
    get:
      operationId: getMedicationHistory
      summary: Get medication change history
      description: 'Retrieves the complete change history for a medication, including:

        - Who made each change

        - What was modified

        - When the change occurred

        - Reason for the change (if provided)


        Returns all history entries without pagination.

        '
      security:
      - OAuth2:
        - medications:read
      tags:
      - Medications
      parameters:
      - name: medication_id
        in: path
        required: true
        description: The ID of the medication
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The complete history of the medication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/medication_history_response'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: The medication was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  /api/2026-01-01/medical-record/observations/{observation_id}:
    get:
      operationId: getObservation
      summary: Get an observation
      description: Get an observation by its ID
      security:
      - OAuth2:
        - observations:read
      tags:
      - Observations
      parameters:
      - name: observation_id
        in: path
        required: true
        description: The ID of the observation
        schema:
          type: string
      responses:
        '200':
          description: The observation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/observation'
        '404':
          description: The observation was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
    patch:
      operationId: updateObservation
      summary: Update an observation
      description: Update an observation by its ID
      security:
      - OAuth2:
        - observations:update
      tags:
      - Observations
      parameters:
      - name: observation_id
        in: path
        required: true
        description: The ID of the observation
        schema:
          type: string
      requestBody:
        description: The observation to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_observation_request'
      responses:
        '200':
          description: The observation was updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/observation'
        '400':
          description: The observation was not updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
        '404':
          description: The observation was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
        '422':
          description: The observation validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
  /api/2026-01-01/patients/{patient_id}:
    get:
      operationId: getPatient
      summary: Get a Patient
      description: Retrieve detailed patient information using their unique identifier
      tags:
      - Patients
      security:
      - OAuth2:
        - patients:read
      parameters:
      - name: patient_id
        in: path
        required: true
        description: The ID of the patient
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The patient
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patient-2'
        '400':
          description: The request was invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: The request is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_error'
        '404':
          description: The patient was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error'
        '429':
          description: Rate limit exceeded - 100 requests per minute per endpoint per clinic
          headers:
            X-Throttle-Match:
              description: Rate limit identifier
              schema:
                type: string
              example: marketing_api/ip/clinic
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /api/2026-01-01/patients:
    get:
      operationId: getPatients
      summary: Get a list of patients
      description: 'Retrieve a list of patients.


        Filtering:

        Filter records by field values using the format: field[operator]=value


        Available fields:

        - `public_id`: string

        - `created_at`: ISO 8601 datetime (e.g. 2025-01-01T12:00:00Z)

        - `updated_at`: ISO 8601 datetime


        Available operators:

        - `eq`: Equals

        - `gt`: Greater than

        - `gte`: Greater than or equal

        - `lt`: Less than

        - `lte`: Less than or equal


        Date-time filters (ex. `created_at`, `updated_at`) must:

        - Use [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time format

        - Be **precise to the second** (e.g. `2025-01-01T12:00:00Z`)


        Free-text search across name, email, phone, and patient number is available via `POST /patients/search`
        (PII is not supported in query strings).


        Examples:

        ```

        /patients?public_id[eq]=abc123

        /patients?created_at[gte]=2025-01-01T00:00:00Z&created_at[lt]=2025-01-02T00:00:00Z

        ```

        '
      tags:
      - Patients
      security:
      - OAuth2:
        - patients:read
      parameters:
      - $ref: '#/components/parameters/page_cursor'
      - $ref: '#/components/parameters/page_limit'
      - name: sort
        in: query
        required: false
        description: 'Comma-separated list of fields to sort by. Prefix a field with ''-'' for descending
          order.


          Examples:

          - `sort=updated_at,-public_id` sorts by `updated_at` ascending, then `public_id` descending.

          - `sort=-created_at` sorts by `created_at` descending.


          Available fields:

          - `public_id`

          - `created_at`

          - `updated_at`

          '
        schema:
          type: string
      - name: public_id
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `public_id`. Example: `public_id[eq]=123`'
        schema:
          $ref: '#/components/schemas/StringFilterSchema'
      - name: created_at
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `created_at` timestamp (ISO 8601). Example: `created_at[gte]=2025-01-01T00:00:00Z`'
        schema:
          $ref: '#/components/schemas/DateTimeFilterSchema'
      - name: updated_at
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `updated_at` timestamp (ISO 8601). Example: `updated_at[lt]=2025-01-02T00:00:00Z`'
        schema:
          $ref: '#/components/schemas/DateTimeFilterSchema'
      responses:
        '200':
          description: The paginated list of patients
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patients'
        '400':
          description: The request was invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '429':
          description: Rate limit exceeded - 100 requests per minute per endpoint per clinic
          headers:
            X-Throttle-Match:
              description: Rate limit identifier
              schema:
                type: string
              example: marketing_api/ip/clinic
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /api/2026-01-01/treatments/{id}:
    get:
      operationId: getTreatment
      summary: Get a Treatment
      description: Returns a treatment by its ID.
      tags:
      - Treatments
      security:
      - OAuth2:
        - treatments:read
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The ID of the treatment
      responses:
        '200':
          description: Treatment retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treatment'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '404':
          description: Treatment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '429':
          description: Rate limit exceeded - 100 requests per minute per endpoint per clinic
          headers:
            X-Throttle-Match:
              description: Rate limit identifier
              schema:
                type: string
              example: marketing_api/ip/clinic
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
  /api/2026-01-01/webhooks:
    get:
      operationId: getWebhooks
      summary: List webhook subscriptions
      description: Returns all webhook subscriptions registered by the authenticated partner for the current
        clinic.
      security:
      - OAuth2:
        - webhooks:read
      tags:
      - Webhooks
      responses:
        '200':
          description: A list of webhook subscriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/webhook-subscription-response'
        '401':
          description: The request is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '403':
          description: The authenticated partner does not have permission to list webhook subscriptions
            for this clinic
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '503':
          description: The service is temporarily unavailable
    post:
      operationId: postWebhooks
      summary: Register a webhook subscription
      description: Registers a new webhook subscription for the authenticated partner. The signing secret
        is returned only in this response and cannot be retrieved again — store it securely. The secret
        is used to verify that webhook payloads are sent by Jane.
      security:
      - OAuth2:
        - webhooks:create
      tags:
      - Webhooks
      requestBody:
        description: The webhook subscription to register
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webhook-subscription-create'
      responses:
        '201':
          description: The webhook subscription was registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook-subscription-create-response'
        '400':
          description: The request body is invalid or missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '401':
          description: The request is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '403':
          description: The authenticated partner does not have permission to register webhook subscriptions
            for this clinic
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '409':
          description: A subscription for this event topic already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - message
                      - details
                      properties:
                        id:
                          type: string
                          example: DUPLICATE_RECORD
                        message:
                          type: string
                        details:
                          $ref: '#/components/schemas/webhook-subscription-response'
        '422':
          description: The webhook subscription could not be processed due to validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '503':
          description: The service is temporarily unavailable
  /api/2026-01-01/appointments:
    get:
      operationId: listAppointmentsVersioned
      summary: List Appointments
      description: 'List Appointments. This endpoint only returns one on one bookings. Excludes class
        bookings, group appointments, etc.


        Filtering:

        Filter records by field values using the format: field[operator]=value


        Available fields:

        - `public_id`: string

        - `start_at`: ISO 8601 datetime (e.g. 2025-01-01T12:00:00Z)

        - `end_at`: ISO 8601 datetime

        - `patient_id`: UUID String

        - `staff_member_id`: UUID String

        - `location_id`: UUID String

        - `treatment_id`: UUID String

        - `created_at`: ISO 8601 datetime

        - `updated_at`: ISO 8601 datetime


        Available operators:

        - `eq`: Equals

        - `gt`: Greater than

        - `gte`: Greater than or equal

        - `lt`: Less than

        - `lte`: Less than or equal


        Date-time filters (ex. `start_at`, `end_at`, `created_at`, `updated_at`) must:

        - Use [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time format

        - Be **precise to the second** (e.g. `2025-01-01T12:00:00Z`)


        Examples:

        ```

        /appointments?public_id[eq]=abc123

        /appointments?created_at[gte]=2025-01-01T00:00:00Z&created_at[lt]=2025-01-02T00:00:00Z

        ```

        '
      tags:
      - Appointments
      security:
      - OAuth2:
        - appointments:read
      parameters:
      - $ref: '#/components/parameters/page_cursor'
      - $ref: '#/components/parameters/page_limit'
      - name: sort
        in: query
        required: false
        description: 'Comma-separated list of fields to sort by. Prefix a field with ''-'' for descending
          order.


          Examples:

          - `sort=name,-created_at` sorts by `name` ascending, then `created_at` descending.

          - `sort=-updated_at` sorts by `updated_at` descending.


          Available fields:

          - `start_at`

          - `end_at`

          - `booked_at`

          - `created_at`

          - `updated_at`

          '
        schema:
          type: string
      - name: public_id
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `public_id`. Example: `public_id[eq]=123`'
        schema:
          $ref: '#/components/schemas/StringFilterSchema'
      - name: start_at
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `start_at` timestamp (ISO 8601). Example: `start_at[gte]=2025-01-01T00:00:00Z`'
        schema:
          $ref: '#/components/schemas/DateTimeFilterSchema'
      - name: end_at
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `end_at` timestamp (ISO 8601). Example: `end_at[lte]=2025-01-02T00:00:00Z`'
        schema:
          $ref: '#/components/schemas/DateTimeFilterSchema'
      - name: patient_id
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `patient_id`. Example: `patient_id[eq]=123`'
        schema:
          $ref: '#/components/schemas/IdFilterSchema'
      - name: staff_member_id
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `staff_member_id`. Example: `staff_member_id[eq]=123`'
        schema:
          $ref: '#/components/schemas/IdFilterSchema'
      - name: location_id
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `location_id`. Example: `location_id[eq]=123`'
        schema:
          $ref: '#/components/schemas/IdFilterSchema'
      - name: treatment_id
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `treatment_id`. Example: `treatment_id[eq]=123`'
        schema:
          $ref: '#/components/schemas/IdFilterSchema'
      - name: created_at
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `created_at` timestamp (ISO 8601). Example: `created_at[gte]=2025-01-01T00:00:00Z`'
        schema:
          $ref: '#/components/schemas/DateTimeFilterSchema'
      - name: updated_at
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `updated_at` timestamp (ISO 8601). Example: `updated_at[lt]=2025-01-02T00:00:00Z`'
        schema:
          $ref: '#/components/schemas/DateTimeFilterSchema'
      responses:
        '200':
          description: The appointments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appointments_response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded - 100 requests per minute per endpoint per clinic
          headers:
            X-Throttle-Match:
              description: Rate limit identifier
              schema:
                type: string
              example: marketing_api/ip/clinic
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /api/2026-01-01/disciplines:
    get:
      operationId: listDisciplinesVersioned
      summary: List Disciplines
      description: 'List Disciplines.


        Filtering:

        Filter records by field values using the format: field[operator]=value


        Available fields:

        - `public_id`: string

        - `created_at`: ISO 8601 datetime (e.g. 2025-01-01T12:00:00Z)

        - `updated_at`: ISO 8601 datetime


        Available operators:

        - `eq`: Equals

        - `gt`: Greater than

        - `gte`: Greater than or equal

        - `lt`: Less than

        - `lte`: Less than or equal


        Date-time filters (ex. `created_at`, `updated_at`) must:

        - Use [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time format

        - Be **precise to the second** (e.g. `2025-01-01T12:00:00Z`)


        Examples:

        ```

        /disciplines?public_id[eq]=abc123

        /disciplines?created_at[gte]=2025-01-01T00:00:00Z&created_at[lt]=2025-01-02T00:00:00Z

        ```

        '
      tags:
      - Disciplines
      security:
      - OAuth2:
        - disciplines:read
      parameters:
      - $ref: '#/components/parameters/page_cursor'
      - $ref: '#/components/parameters/page_limit'
      - name: sort
        in: query
        required: false
        description: 'Comma-separated list of fields to sort by. Prefix a field with ''-'' for descending
          order.


          Examples:

          - `sort=name,-created_at` sorts by `name` ascending, then `created_at` descending.

          - `sort=-updated_at` sorts by `updated_at` descending.


          Available fields:

          - `name`

          - `created_at`

          - `updated_at`

          '
        schema:
          type: string
      - name: public_id
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `public_id`. Example: `public_id[eq]=123`'
        schema:
          $ref: '#/components/schemas/StringFilterSchema'
      - name: created_at
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `created_at` timestamp (ISO 8601). Example: `created_at[gte]=2025-01-01T00:00:00Z`'
        schema:
          $ref: '#/components/schemas/DateTimeFilterSchema'
      - name: updated_at
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `updated_at` timestamp (ISO 8601). Example: `updated_at[lt]=2025-01-02T00:00:00Z`'
        schema:
          $ref: '#/components/schemas/DateTimeFilterSchema'
      responses:
        '200':
          description: The disciplines
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disciplines_response'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded - 100 requests per minute per endpoint per clinic
          headers:
            X-Throttle-Match:
              description: Rate limit identifier
              schema:
                type: string
              example: marketing_api/ip/clinic
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /api/2026-01-01/staff_members:
    get:
      operationId: listStaffMembersVersioned
      summary: List Staff Members
      description: 'List Staff Members.


        Filtering:

        Filter records by field values using the format: field[operator]=value


        Available fields:

        - `public_id`: string

        - `created_at`: ISO 8601 datetime (e.g. 2025-01-01T12:00:00Z)

        - `updated_at`: ISO 8601 datetime


        Available operators:

        - `eq`: Equals

        - `gt`: Greater than

        - `gte`: Greater than or equal

        - `lt`: Less than

        - `lte`: Less than or equal


        Date-time filters (ex. `created_at`, `updated_at`) must:

        - Use [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time format

        - Be **precise to the second** (e.g. `2025-01-01T12:00:00Z`)


        Examples:

        ```

        /staff_members?public_id[eq]=abc123

        /staff_members?created_at[gte]=2025-01-01T00:00:00Z&created_at[lt]=2025-01-02T00:00:00Z

        ```

        '
      tags:
      - StaffMembers
      security:
      - OAuth2:
        - staff_members:read
      parameters:
      - $ref: '#/components/parameters/page_cursor'
      - $ref: '#/components/parameters/page_limit'
      - name: sort
        in: query
        required: false
        description: 'Comma-separated list of fields to sort by. Prefix a field with ''-'' for descending
          order.


          Examples:

          - `sort=updated_at,-created_at` sorts by `updated_at` ascending, then `created_at` descending.

          - `sort=-updated_at` sorts by `updated_at` descending.


          Available fields:

          - `created_at`

          - `updated_at`

          '
        schema:
          type: string
      - name: public_id
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `public_id`. Example: `public_id[eq]=123`'
        schema:
          $ref: '#/components/schemas/StringFilterSchema'
      - name: created_at
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `created_at` timestamp (ISO 8601). Example: `created_at[gte]=2025-01-01T00:00:00Z`'
        schema:
          $ref: '#/components/schemas/DateTimeFilterSchema'
      - name: updated_at
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `updated_at` timestamp (ISO 8601). Example: `updated_at[lt]=2025-01-02T00:00:00Z`'
        schema:
          $ref: '#/components/schemas/DateTimeFilterSchema'
      responses:
        '200':
          description: The staff members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/staff_members_response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded - 100 requests per minute per endpoint per clinic
          headers:
            X-Throttle-Match:
              description: Rate limit identifier
              schema:
                type: string
              example: marketing_api/ip/clinic
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /api/2026-01-01/treatments:
    get:
      operationId: listTreatmentsVersioned
      summary: List Treatments
      description: 'Returns a list of treatments with pagination support.


        Filtering:

        Filter records by field values using the format: field[operator]=value


        Available fields:

        - `public_id`: string

        - `staff_member_ids`: UUID string — returns treatments owned by or offered by the staff member
        (via available treatments)

        - `created_at`: ISO 8601 datetime (e.g. 2025-01-01T12:00:00Z)

        - `updated_at`: ISO 8601 datetime


        Available operators:

        - `eq`: Equals

        - `gt`: Greater than

        - `gte`: Greater than or equal

        - `lt`: Less than

        - `lte`: Less than or equal


        Operator restrictions:

        - `public_id` and `staff_member_ids` only support `eq`

        - `created_at` and `updated_at` support all operators above


        Date-time filters (ex. `created_at`, `updated_at`) must:

        - Use [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time format

        - Be **precise to the second** (e.g. `2025-01-01T12:00:00Z`)


        Examples:

        ```

        /treatments?public_id[eq]=abc123

        /treatments?created_at[gte]=2025-01-01T00:00:00Z&created_at[lt]=2025-01-02T00:00:00Z

        ```

        '
      tags:
      - Treatments
      security:
      - OAuth2:
        - treatments:read
      parameters:
      - $ref: '#/components/parameters/page_cursor'
      - $ref: '#/components/parameters/page_limit'
      - name: sort
        in: query
        required: false
        description: 'Comma-separated list of fields to sort by. Prefix a field with ''-'' for descending
          order.


          Examples:

          - `sort=name,-created_at` sorts by `name` ascending, then `created_at` descending.

          - `sort=-updated_at` sorts by `updated_at` descending.


          Available fields:

          - `name`

          - `price`

          - `created_at`

          - `updated_at`

          '
        schema:
          type: string
      - name: public_id
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `public_id`. Only supports `eq`. Example: `public_id[eq]=123`'
        schema:
          $ref: '#/components/schemas/IdFilterSchema'
      - name: staff_member_ids
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by staff member ID. Only supports `eq`. Returns treatments owned by or offered
          by the staff member. Example: `staff_member_ids[eq]=019d8e34-8307-7b0e-b6c2-5d03ca0bfb37`'
        schema:
          $ref: '#/components/schemas/IdFilterSchema'
      - name: created_at
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `created_at` timestamp (ISO 8601). Example: `created_at[gte]=2025-01-01T00:00:00Z`'
        schema:
          $ref: '#/components/schemas/DateTimeFilterSchema'
      - name: updated_at
        in: query
        style: deepObject
        explode: true
        required: false
        description: 'Filter by `updated_at` timestamp (ISO 8601). Example: `updated_at[lt]=2025-01-02T00:00:00Z`'
        schema:
          $ref: '#/components/schemas/DateTimeFilterSchema'
      responses:
        '200':
          description: Treatments retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treatments_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded - 100 requests per minute per endpoint per clinic
          headers:
            X-Throttle-Match:
              description: Rate limit identifier
              schema:
                type: string
              example: marketing_api/ip/clinic
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_message_response'
  /api/2026-01-01/document-uploads:
    post:
      operationId: postDocumentUploads
      summary: Upload a document
      description: Upload a document file to receive a document ID that can be referenced in other API
        calls (e.g. attaching a document to a clinical record). The uploaded file is stored securely and
        a presigned URL is returned in the response for temporary access. Accepted file types are PDF,
        JPEG, and PNG. Maximum file size is 50 MB.
      security:
      - OAuth2:
        - document_uploads:create
      tags:
      - DocumentUploads
      requestBody:
        description: The document to upload
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/document_uploads_request'
            encoding:
              file:
                contentType: application/pdf, image/jpeg, image/png
      responses:
        '201':
          description: The document was uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document_uploads_response'
        '400':
          description: The document was not uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_error_response'
  /api/2026-01-01/patients/search:
    post:
      operationId: searchPatients
      summary: Search patients by free text
      description: "Free-text patient search across name, email, phone number, and patient number.\n\n\
        This is a POST-body endpoint specifically so PII (patient names, email, phone)\ndoes not leak\
        \ into URL query strings, access logs, browser history, or referrer headers.\n\nScope is intentionally\
        \ search-only: the body accepts `search`, `sort`, and `page`.\nStructured filters (`public_id`,\
        \ `created_at`, `updated_at`) are not supported here —\nuse `GET /patients` for those. Combined\
        \ search + structured filtering is a deliberate\nfollow-up if a consumer need materializes.\n\n\
        Filter operators:\n- `search`: `co` (contains) only\n\nPagination: the response returns a `cursor`\
        \ and `hasNextPage`. To fetch\nsubsequent pages, re-POST the same body with `page.cursor` set\
        \ to the\nprevious response's `cursor`. The `links` object is omitted from this\nendpoint's response\
        \ (GET-style pagination URLs would re-expose filter PII\nin query strings).\n\nExample body:\n\
        ```json\n{\n  \"search\": { \"co\": \"Jane Smith\" },\n  \"sort\": \"-created_at\",\n  \"page\"\
        : { \"limit\": 50 }\n}\n```\n"
      tags:
      - Patients
      security:
      - OAuth2:
        - patients:read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patients_search_request'
      responses:
        '200':
          description: The paginated list of matching patients
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patients_search_response'
        '400':
          description: The request was invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '429':
          description: Rate limit exceeded - 100 requests per minute per endpoint per clinic
          headers:
            X-Throttle-Match:
              description: Rate limit identifier
              schema:
                type: string
              example: marketing_api/ip/clinic
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
components:
  schemas:
    bad_request_error_response:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: bad_request_error_response.json
      title: BadRequest
      type: object
      properties: {}
    care_plan_activity:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: care_plan_activity.json
      title: CarePlanActivity
      type: object
      required:
      - category
      properties:
        id:
          type: string
          format: uuid
          description: UUIDv7 identifier for the component
        category:
          type: string
          enum:
          - appointment
          - exercise
          - medication
          - nutrition
          description: The classification of the type of care plan activity
        description:
          type: string
          description: The description of the care plan activity
        progress:
          type: string
          description: The progress of the care plan activity
        created_at:
          type: string
          format: date-time
          description: When the care plan activity record was created
        updated_at:
          type: string
          format: date-time
          description: When the care plan activity record was updated
      additionalProperties: false
    care_plan:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: care_plan.json
      title: CarePlan
      type: object
      required:
      - patient_id
      - category
      properties:
        id:
          type: string
          format: uuid
          description: UUIDv7 identifier for the care plan
        patient_id:
          type: string
          format: uuid
          description: Reference to the patient
        practitioner_id:
          type: string
          format: uuid
          description: Reference to the practitioner who performed/recorded the observation
        encounter_id:
          type: string
          format: uuid
          description: Reference to the encounter where the care plan was made
        category:
          type: string
          enum:
          - treatment_plan
          description: The classification of the type of care plan
        title:
          type: string
          description: The title of the care plan
        description:
          type: string
          description: The description of the care plan
        status:
          type: string
          enum:
          - draft
          - active
          - on-hold
          - revoked
          - completed
          - entered-in-error
          - unknown
          description: The status of the care plan
        created_at:
          type: string
          format: date-time
          description: When the care plan record was created
        updated_at:
          type: string
          format: date-time
          description: When the care plan record was updated
        activities:
          type: array
          items:
            $ref: '#/components/schemas/care_plan_activity'
          description: Array of care plan activities
        document_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Array of document upload IDs to attach to the care plan. All documents must exist
            and be verified.
      additionalProperties: false
    create_care_plan_request:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: create_care_plan_request.json
      title: Create Care Plan Request
      type: object
      properties:
        data:
          $ref: '#/components/schemas/care_plan'
          description: The request data parameters
    create_care_plan_activity_request:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: create_care_plan_activity_request.json
      title: Create Care Plan Activity Request
      type: object
      properties:
        data:
          $ref: '#/components/schemas/care_plan_activity'
          description: The request data parameters
    extension:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: extension.json
      title: Extension
      description: An extension manifest configuration
      type: object
      required:
      - name
      - version
      - description
      - developer_name
      properties:
        id:
          description: Unique identifier for the extension
          type: string
          format: uuid
          readOnly: true
        extension_id:
          description: Unique identifier for the extension
          type: string
          format: uuid
          readOnly: true
        name:
          description: Name of the extension
          type: string
        version:
          description: Version of the extension
          type: string
        description:
          description: Description of what the extension does
          type: string
        documentation_url:
          description: URL to the extension's documentation
          type: string
          format: uri
        developer_name:
          description: Name of the developer or organization
          type: string
        homepage_url:
          description: URL to the extension's homepage
          type: string
          format: uri
        support_url:
          description: URL for support related to this extension
          type: string
          format: uri
        activation_url:
          description: URL used to activate the extension
          type: string
          format: uri
        signup_url:
          description: URL for user signup through partner defined flow
          type: string
          format: uri
        icon_url:
          description: 'URL to the extension''s icon. Recommended: PNG format with transparent background,
            128x128 pixels'
          type: string
          format: uri
        logo_urls:
          description: URLs to logo images at different sizes
          type: array
          items:
            type: string
            format: uri
        extension_points:
          description: List of extension points this extension provides
          type: array
          items:
            type: object
            required:
            - type
            - category
            - label
            - url
            properties:
              type:
                type: string
                enum:
                - clinical
              category:
                type: string
                enum:
                - labs
                - gfe
                - hep
                - rpm
                - supplements
                - extensions
              label:
                type: string
              url:
                type: string
                pattern: ^https://
                description: URL where the extension is hosted
        created_at:
          description: When the extension was created
          type: string
          format: date-time
          readOnly: true
        updated_at:
          description: When the extension was last updated
          type: string
          format: date-time
          readOnly: true
      additionalProperties: false
    unauthorized_error:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: /components/responses/schemas/unauthorized_error.json
      type: object
      required:
      - error
      title: UnauthorizedError
      description: Error response generated when the request is not authorized
      properties:
        error:
          type: string
          description: Error message.
    forbidden_error:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: /components/responses/schemas/forbidden_error.json
      type: object
      required:
      - error
      title: ForbiddenError
      description: Error response generated when the request is forbidden
      properties:
        error:
          type: string
          description: Error message.
    extension_request:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: extension_request.json
      title: ExtensionRequest
      description: Request body for creating or updating an extension
      type: object
      properties:
        data:
          $ref: '#/components/schemas/extension'
          description: The extension to create or update
    unprocessable_entity_error:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: /components/responses/schemas/unprocessable_entity_error.json
      type: object
      required:
      - error
      title: UnprocessableEntityError
      description: Error response generated when the request is not valid
      properties:
        error:
          type: string
          description: Error message.
    not_found_error_response:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: not_found_error_response.json
      title: NotFoundError
      type: object
      properties: {}
    medication_code:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: medication_code.json
      title: MedicationCode
      type: object
      required:
      - text
      properties:
        coding:
          type:
          - array
          - 'null'
          items:
            type: object
            required:
            - display
            - code
            - system
            properties:
              display:
                type: string
                description: Human-readable display name
              code:
                type: string
                description: The medication code
              system:
                type: string
                description: The coding system (e.g., 'http://snomed.info/sct')
            additionalProperties: false
          description: Array of coded values for the medication (optional — manually added meds won't
            have formal codes)
        text:
          type: string
          description: Plain text representation of the medication name
      additionalProperties: false
    ingredient:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: ingredient.json
      title: Ingredient
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Name of the ingredient
        strength:
          type:
          - string
          - number
          - 'null'
          description: Strength or amount of the ingredient
        strength_unit:
          type:
          - string
          - 'null'
          description: Unit of measurement for the strength (e.g., mg, mL, %)
      additionalProperties: false
    medication:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: medication.json
      title: Medication
      type: object
      required:
      - id
      - patient_id
      - practitioner_id
      - medication_code
      - status
      - source
      - created_at
      properties:
        id:
          type: string
          format: uuid
          description: UUIDv7 identifier for the medication
        patient_id:
          type: string
          format: uuid
          description: Reference to the patient
        practitioner_id:
          type: string
          format: uuid
          description: Reference to the practitioner
        encounter_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Reference to the encounter where medication was prescribed (optional)
        medication_code:
          $ref: '#/components/schemas/medication_code'
        ingredients:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ingredient'
          description: Array of ingredient objects (optional — not all medications have detailed ingredient
            info)
        dose_form:
          type:
          - string
          - 'null'
          description: Pharmaceutical form (tablet, capsule, suspension, etc.) (optional)
        route:
          type:
          - string
          - 'null'
          description: Route of administration (oral, IV, topical, etc.) (optional)
        frequency:
          type:
          - string
          - 'null'
          description: Textual frequency (daily, bid, etc.) (optional)
        quantity:
          type:
          - integer
          - 'null'
          minimum: 1
          description: Number of units (e.g., tablets, capsules) dispensed
        period_start:
          type:
          - string
          - 'null'
          format: date
          description: When the medication course starts (optional)
        period_end:
          type:
          - string
          - 'null'
          format: date
          description: Planned end date (if any) (optional)
        instructions:
          type:
          - string
          - 'null'
          description: Free-text administration instructions for the patient (optional)
        status:
          type: string
          enum:
          - active
          - inactive
          description: Lifecycle state of the medication
        source:
          type: string
          enum:
          - prescribed
          - patient_reported
          description: Origin of record – prescribed (from practitioner) or reported (self-reported)
        change_reason:
          type:
          - string
          - 'null'
          description: Selected reason for status change (e.g., adverse_reaction, completed, patient_request)
        prescription_valid_until:
          type:
          - string
          - 'null'
          format: date
          description: Expiry date after which repeats aren't valid (optional)
        prescription_refills:
          type:
          - integer
          - 'null'
          minimum: 0
          description: Allowed refill count (optional)
        prescription_days_supply:
          type:
          - integer
          - 'null'
          minimum: 1
          description: Number of days that the dispensed medication is intended to last (optional)
        prescription_reason:
          type:
          - string
          - 'null'
          description: Clinical indication or problem being treated (optional)
        created_at:
          type: string
          format: date-time
          description: When the medication record was created
      additionalProperties: false
    medication_editable_properties:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: medication_editable_properties.json
      title: Medication Editable Properties
      description: Common editable properties for medication create and update operations
      type: object
      properties:
        encounter_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Reference to the encounter where medication was prescribed
        medication_code:
          $ref: '#/components/schemas/medication_code'
        ingredients:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ingredient'
          description: Array of ingredient objects (optional — not all medications have detailed ingredient
            info)
        dose_form:
          type:
          - string
          - 'null'
          description: Pharmaceutical form (tablet, capsule, suspension, etc.)
        route:
          type:
          - string
          - 'null'
          description: Route of administration (oral, IV, topical, etc.)
        frequency:
          type:
          - string
          - 'null'
          description: Textual frequency (daily, bid, etc.)
        quantity:
          type:
          - integer
          - 'null'
          minimum: 1
          description: Number of units (e.g., tablets, capsules) dispensed
        period_start:
          type:
          - string
          - 'null'
          format: date
          description: When the medication course starts
        period_end:
          type:
          - string
          - 'null'
          format: date
          description: Planned end date (if any)
        instructions:
          type:
          - string
          - 'null'
          description: Free-text administration instructions for the patient
        status:
          type: string
          enum:
          - active
          - inactive
          description: Lifecycle state of the medication
        source:
          type: string
          enum:
          - prescribed
          - patient_reported
          description: Origin of record – prescribed (from practitioner) or patient_reported (self-reported)
        change_reason:
          type:
          - string
          - 'null'
          description: Selected reason for status change (e.g., adverse_reaction, completed, patient_request)
        prescription_valid_until:
          type:
          - string
          - 'null'
          format: date
          description: Expiry date after which repeats aren't valid
        prescription_refills:
          type:
          - integer
          - 'null'
          minimum: 0
          description: Allowed refill count
        prescription_days_supply:
          type:
          - integer
          - 'null'
          minimum: 1
          description: Number of days that the dispensed medication is intended to last
        prescription_reason:
          type:
          - string
          - 'null'
          description: Clinical indication or problem being treated
    create_medication_request:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: create_medication_request.json
      title: Create Medication Request
      type: object
      required:
      - data
      additionalProperties: true
      properties:
        data:
          type: object
          required:
          - patient_id
          - medication_code
          - status
          - source
          allOf:
          - $ref: '#/components/schemas/medication_editable_properties'
          properties:
            patient_id:
              type: string
              format: uuid
              description: Reference to the patient
            practitioner_id:
              type: string
              format: uuid
              description: Reference to the practitioner
          unevaluatedProperties: false
    observation_value:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: observation_value.json
      title: ObservationValue
      type: object
      required:
      - code
      - system
      - value
      - value_type
      properties:
        id:
          type: string
          format: uuid
          description: UUIDv7 identifier for the component
        code:
          type: string
          description: The specific code for this component (e.g., LOINC or SNOMED CT code)
        system:
          type: string
          description: The coding system used (e.g., 'http://loinc.org')
        display:
          type: string
          description: Human-readable display name for the code
        value:
          type: string
          description: The actual value of the component
        value_type:
          type: string
          enum:
          - string
          - boolean
          - numeric
          description: The data type of the value
[...]
